@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');

/* ____________________________________________________________________________ */

header {
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px auto;
background-color: #ffffff;
border-bottom: 1px solid #ddd;
max-width: 100%;
}

.logo {
font-size: 2rem;
font-family:'Playball';
color: #000000;
}

nav ul {
list-style: none;
display: flex;
gap: 30px;
padding: 0;
margin: 0;
max-width: 100%;
}

nav ul li a {
text-decoration: none;
font-family: 'Lexend Exa';
font-size: 28px;
color: #000000;
}

nav ul li a:hover {
text-decoration: underline;
}

/* ____________________________________________________________________________ */
main{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 100%;
}

.hero img {
  max-width: 100%;
border-radius: 56px;
border: 2px;
align-items: center;
display: flex;


}

.hero h1 {

font-size: 120px;
font-weight: 300;

line-height: 120px;
text-align: center;
font-family: 'Lexend Exa', serif; 
}





/* ____________________________________________________________________________ */

.projects {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 20px;
  column-gap: 40px;
  margin: 48px;
  padding: 48px;
  font-family: 'Newsreader';
  }



.project img {
width: 100%;


}

.project p {
margin-top: 10px;
font-size: 16px;
}

.project span {
color: gray;
font-size: 14px;
}








/* ____________________________________________________________________________ */

.text {
  display: flex;
  justify-content: left;
  align-items: left;
  border: 2px solid blue;
  padding: 20px;
  max-width: 100%;
}

.text h2 {
  flex: 1; 
  font-size: 1.5rem;
  line-height: 1.6;
  font-family: 'Lexend Exa';
}

.text .block {
  flex: 1; 
  border: 1px dashed blue; 
  height: 150px; 
} 


/* ____________________________________________________________________________ */


/* .about-content p {
font-family: 'Newsreader';
font-weight: 400px;
font-size: 24px;

}

.about-content .c {
align-items:end;
display: block;
height: 1008px;
width: 672px;
position: absolute;
top: 0;
right: 0;

} */


.about-content {
  display: flex;
  grid-template-columns: 1fr 1fr; 
  gap: 20px; 
  column-gap: 70px;
  margin: 20px;
  justify-content: space-between;
}

.about-content .ab {
  max-width: 100%;
  display: block;
 
}


.about-content img {
  width: 100%; 
  height: auto; 
  border: 2px solid #000;
}

/* ____________________________________________________________________________ */
.text2 {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  width: 648vw;

}
.text2 p {
  display: flex;
  border: 2px solid red;
  font-weight: 400;
  /* align-content: end;
  justify-content: end; */
  font-size: 1.5rem;
  font-size: 24px;
  line-height: 32px;
  font-family: 'Newsreader';
  padding: 30px;
}

.text2 .block2 {
  border: 2px solid blue;
  padding-right: 50%;
}


/* ____________________________________________________________________________ */

.about {
  display: flex;
  justify-content: space-between;
  gap: 48px;
  padding: 24px;
}
.about .about-a {
  
}

.about .about-b {
  justify-content: flex-end;
  align-items: flex-start;
}

/* ____________________________________________________________________________ */

.unique {
  display: flex;
  flex-direction: row-reverse;
  justify-content:flex-end;
  max-width: 672px;
  padding: 24px;
}


/* ____________________________________________________________________________ */


.c {
  display: flex;
  gap: 24px;
  padding: 24px;
  justify-content: space-between;
}

.c .abc {
  justify-content: flex-start;
  align-items: flex-start;
}
.c .cab {
  justify-content: flex-end;
  align-items: flex-start;
}


/* ____________________________________________________________________________ */



footer { 
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px;
background-color: white;
color: #fff;
font-family: Arial, sans-serif;
}

footer p {
margin: 0;
font-size: 14px;
color: #00000099;
}

footer button {
background-color: #fff;
color: #000;
border: 1px solid #000;
padding: 10px 15px;
font-size: 14px;
cursor: pointer;
border-radius: 5px;
font-family: 'Lexend Exa';
}

footer button:hover {
background-color: black;
color: #fff;
}


@media (max-width: 767px) {
  .projects {
    display: flex; 
    align-items: center;
    flex-direction: column ; 
}

.hero h1 {
  font-size: 2rem;
}

nav {
  display: none;
}

.about-content {
    display: flex; 
    align-items: center;
    flex-direction: column ;
}
.about {
  display: flex; 
    align-items: center;
    flex-direction: column ;
    width: 100%;

}

.unique img{
    display: flex; 
    align-items: center;
    flex-direction: column ;
    width: 100%;
}
.c {
  display: flex; 
    align-items: center;
    flex-direction: column ;
}
.text2 p {
  text-align: center;
  padding: 0;
}
.text2 .block2 {
  display: none;
}

footer {

}
}


